---
---

@import "{{ site.theme }}"; 
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6
{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #445588;
}

@media screen and (max-width: 64em) and (min-width: 42em){
.page-header {
    padding: 3rem 4rem;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-left: 4rem;
}
}
img {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 100px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 100px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
