---
---

@import "{{ site.theme }}"; 
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6
{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #445588;
}

@media screen and (max-width: 64em) and (min-width: 42em){
.page-header {
    padding: 3rem 4rem;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-left: 4rem;
}


.logo {
    padding: 10px;}
}

